<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <insert id="insert">
        insert into shopping_cart (name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time) VALUES
                                (#{name},#{image},#{userId},#{dishId},#{setmealId},#{dishFlavor},#{number},#{amount},#{createTime})
    </insert>
    <delete id="cleanShoppingCart">
        delete from shopping_cart where user_id = #{userid}

    </delete>
    <select id="getShoppingCart" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart 
        <where>
            <if test="name!=null">
                name = #{name}
            </if>
            <if test="image!=null">
                and image = #{image}
            </if>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
            <if test="dishId!=null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId!=null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor!=null">
                and dish_flavor = #{dishFlavor}
            </if>
            <if test="number!=null">
                and number = #{number}
            </if>
            <if test="amount!=null">
                and amount = #{amount}
            </if>
            <if test="createTime!=null">
                and create_time = #{createTime}
            </if>
        </where>



    </select>
</mapper>